/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-inline-size: 375px;
  max-inline-size: 1024px;
  margin: 0 auto;
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  background-color: var(--page-background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h2 {
  font-size: inherit;
  color: var(--menu-txt-color);
  font-weight: 700;
}

h3, h4 {
  font-size: inherit;
  color: var(--subtitle-color);
  background-color: var(--accent-color);
}

h3 {
  font-weight:  700;
}

h4 {
  font-weight: 400;
}

p {
  color: var(--txt-color);
  line-height: 23.4px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.section {
  margin-top: 50px;
}

.section:first-child {
  margin-top: 40px;
}

@media (min-width: 768px) {
  .section {
    margin-top: 80px;
  }
  
  .section:first-child {
    margin-top: 60px;
  }
}