.page.theme_light {
  --page-background-color: #fff1f7;
  --page-background-img: url("../images/cover-image-light.png");
  --rec-decor: none;
  --accent-color: #FF8DCB;
  --txt-color: #353430;
  --heading-color: #FFC2E6;
  --menu-txt-color:#353430;
  --button-border: 1px solid #353430;
  --intro-txt-color: #353430;
  --subtitle-color: #353430;
  --hover-nav-color: rgba(50, 49, 45, 0.4);

}

@media (prefers-color-scheme: light) {
  :root {
    --button-border: 1px solid #353430;
    
  }
}